.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 40px;
  margin-top: 10vw;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,20%);
}

#root{
  overflow: unset;
  /* position: fixed;
  width: 100%;
  height: 100%;
  background: #f1f1f1; */
}
#shady{
  position: fixed;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    overflow: auto;
}

.inputContainer img {
  /* position: absolute; */
  width: 24px;
    height: 24px;
    /* padding: 18px; */
    margin: 1rem 0.5rem;
}
.inputContainer {
  display: flex;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
}
.icon {
  padding: 18px;
  width: auto;
  /* text-align: left; */
}

/* body{
  background: #f1f1f1;
} */

.websitelogo{
  max-width: 250px;
}

.homelink{
  color: black;
}

.homelink:hover{
  color: #ef403c;
}

.submitbutton{
  background-color: #404041;
  color: white;
}

.submitbutton:hover{
  background-color: #ef403c;
}



@media screen and (max-width: 500px){
  .content {
    
    margin-top: unset;
    padding: 20px;
    
  }
}