@media screen and (min-width: 1501px) {

/* .divhh{
    width: 30%;
    background-color: white;
    position: absolute;
    margin-left: 35%;
    margin-top: 3%;
    height: 85%;
    border-radius: 2vw;
    border: gray 0.2vw solid;
    z-index: 8; 
 } */
 .alert-dismissible_login {
   padding-right: 4rem;
   margin-top: 4vw;
}
 .modal_review_login {
   position: absolute;
   width: 29%;
   background-color: white;
   border-radius: 1vw;
   left: 37%;
   margin-top: 0%;
   max-height: 100vh;
   margin-top: 2%;

 height: 83%;
   /* overflow-y: auto; */
   /* overflow-y: scroll; */
}

 .closebtnlogin {
   position: absolute;
   cursor: pointer;
   margin-top: -5%;
   /* left: 95.9%; */
   right: 0%;
   width: 2.3vw;
   z-index: 10;
}  

.logob{	
   position: absolute;	
   /* position: initial; */	
   top: 4%;	
   left: 19%;	
   width: 18vw;	
   /* font-weight: 800; */	
   padding: 15px 30px 15px 30px;	
   color: white;	
   /* background-color: #EF403C; */	
   /* border: none; */	
   /* font-size: 50px;*/	
 }

 .hlogin{
   position: absolute;
   font-weight: bold;
   margin-top: 25%;
   left: 46%;
   font-size: 1.2vw;
 }
 
 .new3{
   position: absolute;
   border: solid #EF403C;
   border-radius: 0;
   margin-top: 49.3%;
   left: 19%;
   width: 20%;
 }

 .new4{
   position: absolute;
   border: solid #EF403C;
   border-radius: 0;
   margin-top: 49.3%;
   left: 62%;
   width: 19.5%;
 }
 
 .or{
   position: absolute;
   margin-top: 47%;
   left: 48.5%;
   font-size: 1.2vw;
   font-weight: bold;
}

.email{
   position: absolute;
   border-color: #EF403C;
   width: 90%;
   height: 3vw;
   margin-top: 63%;
   left: 5%;
   border-style: solid;
}


.eemail{
   position: absolute;
   margin-top: 60%;
   left: 10%;
   font-size: 1.2vw;
   background-color: white;
   color: #484848;
}

.pass{
   position: absolute;
   border-color: #EF403C;
   width: 90%;
   height: 3vw;
   margin-top: 81%;
   left: 5%;
   border-style: solid;
}

.epass{
   position: absolute;
   margin-top: 78%;
   left: 10%;
   font-size: 1.2vw;
   background-color: white;
   color: #484848;
}

.fpass{
   position: absolute;
   margin-top: 95%;
   left: 5%;
   font-size: 1vw;
   color: #585858;
}

.continue{
   position: absolute;
   font-family: Arial, Helvetica, sans-serif;
   font-stretch: expanded;
   font-weight: 600;
   color: white;
   /* padding: 0.6vw; */
   background-color: #413f3f;
   border-radius: 0;
   border-color: black;
   font-size: 1.5vw;
   cursor: pointer;
   left: 5%;
   margin-top: 107.5%;
   width: 90%;
   height: 3vw;
   box-shadow: 0 0.2vw #b1aeae;
 }

 .foot{
   position: absolute;
   margin-top: 127%;
   left: 5%;
   font-size: 1vw;
   color: #585858;
}

.psignup{
   position: absolute;
   font-weight: bolder;
   margin-top: 126.5%;
   left: 52%;
   font-size: 1.2vw;
   color: #EF403C;
}

/* .fb1{
   position: absolute;
   width: 10%;
   top: 32%;
   left: 29%;
   cursor: pointer;
}

.google{
   position: absolute;
   width: 10%;
   top: 32%;
   left: 46%;
   cursor: pointer;
}

.lin{
   position: absolute;
   width: 10%;
   top: 32%;
   left: 62%;
   cursor: pointer;
} */

.google_login{
   position: absolute;
   width: 10%;
   margin-top: 35%;
   left: 47.5%;
   cursor: pointer;
}
.fb_login{
   position: absolute;
   width: 11%;
   margin-top: 35.5%;
   left: 35%;
   cursor: pointer;
}
.lin_login{
   position: absolute;
   /* width: 10%; */
   margin-top: 35%;
   left: 61%;
   cursor: pointer;
   width: 43px;
}
.g_img_login{
   width:40px;
}

}

@media screen and (min-width: 1001px) and (max-width: 1500px) {

/* .divhh{
    width: 30%;
    background-color: white;
    position: absolute;
    margin-left: 35%;
    margin-top: 3%;
    height: 85%;
    border-radius: 2vw;
    border: gray 0.2vw solid;
    z-index: 8; 
 } */
 .alert-dismissible_login {
   padding-right: 4rem;
   margin-top: 5vw;
}
 .modal_review_login {
   position: absolute;
   width: 36%;
   background-color: white;
   border-radius: 1vw;
   left: 34%;
   margin-top: 0%;
   max-height: 100vh;
   margin-top: 2%;

 height: 80%;
   /* overflow-y: auto; */
   /* overflow-y: scroll; */
}

 .closebtnlogin {
   position: absolute;
   cursor: pointer;
   margin-top: -5%;
   left: 93.9%;
   width: 2.3vw;
   z-index: 10;
}  

.logob{	
   position: absolute;
   /* position: initial; */
   top: 4%;
   left: 21%;
   width: 22vw;
   /* font-weight: 800; */
   padding: 15px 30px 15px 30px;
   color: white;
   /* background-color: #EF403C; */
   /* border: none; */
   /* font-size: 50px;
   /* font-size: 50px;*/	
 }

 .hlogin{
   position: absolute;
   font-weight: bold;
   margin-top: 25%;
   left: 44%;
   font-size: 1.7vw;
 }
 
 .new3{
   position: absolute;
   border: solid #EF403C;
   border-radius: 0;
   margin-top: 54.3%;
   left: 19%;
   width: 20%;
 }

 .new4{
   position: absolute;
   border: solid #EF403C;
   border-radius: 0;
   margin-top: 54.3%;
   left: 62%;
   width: 19.5%;
 }
 
 .or{
   position: absolute;
    margin-top: 52%;
    left: 47%;
    font-size: 1.7vw;
    font-weight: bold;
}

.email{
   position: absolute;
   border-color: #EF403C;
   width: 90%;
   height: 4vw;
   margin-top: 66%;
   left: 5%;
   border-style: solid;
   font-size: 1.3vw;
}


.eemail{
   position: absolute;
   margin-top: 63%;
   left: 10%;
   font-size: 1.4vw;
   background-color: white;
   color: #484848;
}

.pass{
   position: absolute;
   border-color: #EF403C;
   width: 90%;
   height: 4vw;
   margin-top: 85%;
   left: 5%;
   border-style: solid;
   font-size: 1.3vw;
}

.epass{
   position: absolute;
   margin-top: 82%;
   left: 10%;
   font-size: 1.4vw;
   background-color: white;
   color: #484848;
}

.fpass{
   position: absolute;
   margin-top: 98%;
   left: 5%;
   font-size: 1.3vw;
   color: #585858;
}

.continue{
   position: absolute;
   font-family: Arial, Helvetica, sans-serif;
   font-stretch: expanded;
   font-weight: 600;
   color: white;
   /* padding: 0.6vw; */
   background-color: #413f3f;
   border-radius: 0;
   border-color: black;
   font-size: 1.5vw;
   cursor: pointer;
   left: 5%;
   margin-top: 108.5%;
   width: 90%;
   height: 3.5vw;
   box-shadow: 0 0.2vw #b1aeae;
 }

 .foot{
   position: absolute;
    margin-top: 126%;
    left: 5%;
    font-size: 1.3vw;
    color: #585858;
}

.psignup{
   position: absolute;
   font-weight: bolder;
   margin-top: 126%;
   left: 51%;
   font-size: 1.4vw;
   color: #EF403C;
}

/* .fb1{
   position: absolute;
   width: 10%;
   top: 32%;
   left: 29%;
   cursor: pointer;
}

.google{
   position: absolute;
   width: 10%;
   top: 32%;
   left: 46%;
   cursor: pointer;
}

.lin{
   position: absolute;
   width: 10%;
   top: 32%;
   left: 62%;
   cursor: pointer;
} */

.google_login{
   position: absolute;
   width: 11%;
   margin-top: 37%;
   left: 45.5%;
   cursor: pointer;
}
.fb_login{
   position: absolute;
   width: 11%;
   margin-top: 37.5%;
   left: 30%;
   cursor: pointer;
}
.lin_login{
   position: absolute;
   /* width: 10%; */
   margin-top: 37%;
   left: 60%;
   cursor: pointer;
   width: 43px;
}
.g_img_login{
   width:40px;
}

}

@media screen and (min-width: 601px) and (max-width: 1000px) {
 
   .alert-dismissible_login {
      padding-right: 4rem;
      margin-top: 5vw;
   }

   /* .divhh{
       width: 30%;
       background-color: white;
       position: absolute;
       margin-left: 35%;
       margin-top: 3%;
       height: 85%;
       border-radius: 2vw;
       border: gray 0.2vw solid;
       z-index: 8; 
    } */
    .modal_review_login {
      position: absolute;
      width: 46%;
      background-color: white;
      border-radius: 1vw;
      left: 29%;
      margin-top: 0%;
      max-height: 100vh;
      margin-top: 2%;
      height: 80%;
      /* overflow-y: auto; */
      /* overflow-y: scroll; */
   }
   
    .closebtnlogin {
      position: absolute;
      cursor: pointer;
      margin-top: -6%;
      left: 92.9%;
      width: 3vw;
      z-index: 10;
   }  
   
   .logob{	
      position: absolute;
      /* position: initial; */
      top: 4%;
      left: 22%;
      width: 25vw;
      /* font-weight: 800; */
      padding: 15px 30px 15px 30px;
      color: white;
      /* background-color: #EF403C; */
      /* border: none;
      /* background-color: #EF403C; */
      /* border: none; */
      /* font-size: 50px;
      /* font-size: 50px;*/	
    }
   
    .hlogin{
      position: absolute;
      font-weight: bold;
      margin-top: 25%;
      left: 44%;
      font-size: 2.4vw;
    }
    
    .new3{
      position: absolute;
      border: solid #EF403C;
      border-radius: 0;
      margin-top: 54.3%;
      left: 19%;
      width: 20%;
    }
   
    .new4{
      position: absolute;
      border: solid #EF403C;
      border-radius: 0;
      margin-top: 54.3%;
      left: 62%;
      width: 19.5%;
    }
    
    .or{
      position: absolute;
      margin-top: 52%;
      left: 48%;
      font-size: 2.2vw;
      font-weight: bold;
   }
   
   .email{
      position: absolute;
      border-color: #EF403C;
      width: 90%;
      height: 6vw;
      margin-top: 66%;
      left: 5%;
      border-style: solid;
      font-size: 1.7vw;
   }
   
   
   .eemail{
      position: absolute;
      margin-top: 63%;
      left: 10%;
      font-size: 1.8vw;
      background-color: white;
      color: #484848;
   }
   
   .pass{
      position: absolute;
      border-color: #EF403C;
      width: 90%;
      height: 6vw;
      margin-top: 86%;
      left: 5%;
      border-style: solid;
      font-size: 1.7vw;
   }
   
   .epass{
      position: absolute;
      margin-top: 84%;
      left: 10%;
      font-size: 1.4vw;
      background-color: white;
      color: #484848;
   }
   
   .fpass{
      position: absolute;
      margin-top: 102%;
      left: 5%;
      font-size: 1.7vw;
      color: #585858;
   }
   
   .continue{
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      font-stretch: expanded;
      font-weight: 600;
      color: white;
      /* padding: 0.6vw; */
      background-color: #413f3f;
      border-radius: 0;
      border-color: black;
      font-size: 1.5vw;
      cursor: pointer;
      left: 5%;
      margin-top: 112.5%;
      width: 90%;
      height: 5vw;
      box-shadow: 0 0.2vw #b1aeae;
    }
   
    .foot{
      position: absolute;
      margin-top: 130%;
      left: 5%;
      font-size: 1.7vw;
      color: #585858;
   }
   
   .psignup{
      position: absolute;
      font-weight: bolder;
      margin-top: 129.6%;
      left: 51%;
      font-size: 1.8vw;
      color: #EF403C;
   }
   
   /* .fb1{
      position: absolute;
      width: 10%;
      top: 32%;
      left: 29%;
      cursor: pointer;
   }
   
   .google{
      position: absolute;
      width: 10%;
      top: 32%;
      left: 46%;
      cursor: pointer;
   }
   
   .lin{
      position: absolute;
      width: 10%;
      top: 32%;
      left: 62%;
      cursor: pointer;
   } */
   
   .google_login{
      position: absolute;
      width: 11%;
      margin-top: 37%;
      left: 45.5%;
      cursor: pointer;
   }
   .fb_login{
      position: absolute;
      width: 11%;
      margin-top: 37.5%;
      left: 30%;
      cursor: pointer;
   }
   .lin_login{
      position: absolute;
      /* width: 10%; */
      margin-top: 37%;
      left: 60%;
      cursor: pointer;
      width: 5.2vw;
   }
   .g_img_login{
      width: 5vw;
   }
   .kep-login-facebook.metro {
      border-radius: 0;
      width: 4.8vw;
      height: 4.8vw;
   }
   
   }
@media screen and (max-width: 600px) { 

   .alert-dismissible_login {
      padding-right: 4rem;
      margin-top: 13vw;
   }
  
   .modal_review_login {
      position: absolute;
      width: 90%;
      background-color: white;
      border-radius: 3vw;
      left: 5%;
      margin-top: 0%;
      max-height: 100vh;
      margin-top: 9%;
      height: 80%;
      /* overflow-y: auto; */
      /* overflow-y: scroll; */
      border: 2px solid grey;
      /* overflow-y: auto; */
      /* overflow-y: scroll; */
   }
   
   .closebtnlogin {
      position: absolute;
      cursor: pointer;
      margin-top: -1%;
      left: 90.9%;
      width: 8vw;
      z-index: 10;
   }  
   
   .logob{	
      position: absolute;
      /* position: initial; */
      top: 4%;
      left: 18%;
      width: 53vw;
      /* font-weight: 800; */
      padding: 15px 30px 15px 30px;
      color: white;
      /* background-color: #EF403C; */
      /* border: none;
      /* background-color: #EF403C; */
      /* border: none; */
      /* font-size: 50px;
      /* font-size: 50px;*/	
    }
   
    .hlogin{
      position: absolute;
      font-weight: bold;
      margin-top: 32%;
      left: 42%;
      font-size: 5vw;
    }
    
    .new3{
      position: absolute;
      border: solid #EF403C;
      border-radius: 0;
      margin-top: 62.3%;
      left: 5%;
      width: 33%;
    }
   
    .new4{
      position: absolute;
      border: solid #EF403C;
      border-radius: 0;
      margin-top: 62.3%;
      left: 59%;
      width: 33%;
    }
    
    .or{
      position: absolute;
      margin-top: 60%;
      left: 46%;
      font-size: 4.5vw;
      font-weight: bold;
   }
   
   .email{
      position: absolute;
      border-color: #EF403C;
      width: 90%;
      height: 12vw;
      margin-top: 76%;
      left: 5%;
      border-style: solid;
      font-size: 2.7vw;
   }
   
   
   .eemail{
      position: absolute;
      margin-top: 73.2%;
      left: 10%;
      font-size: 3.5vw;
      background-color: white;
      color: #484848;
  
   }
   
   .pass{
      position: absolute;
      border-color: #EF403C;
      width: 90%;
      height: 12vw;
      margin-top: 98.5%;
      left: 5%;
      border-style: solid;
      font-size: 2.7vw;
   }
   
   .epass{
      position: absolute;
      margin-top: 96.5%;
      left: 10%;
      font-size: 3.4vw;
      background-color: white;
      color: #484848;
   }
   
   .fpass{
      position: absolute;
      margin-top: 115%;
      left: 5%;
      font-size: 3.3vw;
      color: #585858;
   }
   
   .continue{
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      font-stretch: expanded;
      /* font-weight: 600; */
      color: white;
      /* padding: 0.6vw; */
      background-color: #413f3f;
      border-radius: 0;
      border-color: black;
      font-size: 4.5vw;
      cursor: pointer;
      left: 5%;
      margin-top: 125.5%;
      width: 90%;
      height: 11vw;
      box-shadow: 0 0.2vw #b1aeae;
    }
   
    .foot{
      position: absolute;
      margin-top: 145%;
      left: 5%;
      font-size: 3.5vw;
      color: #585858;
   }
   
   .psignup{
      position: absolute;
      font-weight: bolder;
      margin-top: 145%;
      left: 57%;
      font-size: 3.6vw;
      color: #EF403C;
   }
   
   /* .fb1{
      position: absolute;
      width: 10%;
      top: 32%;
      left: 29%;
      cursor: pointer;
   }
   
   .google{
      position: absolute;
      width: 10%;
      top: 32%;
      left: 46%;
      cursor: pointer;
   }
   
   .lin{
      position: absolute;
      width: 10%;
      top: 32%;
      left: 62%;
      cursor: pointer;
   } */
   
   .google_login{
      position: absolute;
      width: 11%;
      margin-top: 45%;
      left: 44.5%;
      cursor: pointer;
   }
   .fb_login{
      position: absolute;
      width: 11%;
      margin-top: 45.5%;
      left: 30%;
      cursor: pointer;
   }
   .lin_login{
   
      position: absolute;
      /* width: 10%; */
      margin-top: 45%;
      left: 59%;
      cursor: pointer;
      width: 8.9vw;
   }
   .g_img_login{
      width: 8.3vw;
   }
   .kep-login-facebook.metro {
      width: 7.8vw;
      height: 7.8vw;
   }
   
}


@media screen and (min-width: 2000px){

   .modal_review_login {
      position: absolute;
      width: 29%;
      background-color: white;
      border-radius: 1vw;
      left: 37%;
      margin-top: 0%;
      max-height: 100vh;
      margin-top: 2%;
      height: 82%;
      /* overflow-y: auto; */
      /* overflow-y: scroll; */
  }
  .logob {
   position: absolute;
   /* position: initial; */
   top: 4%;
   left: 7%;
   width: 16vw;
   /* font-weight: 800; */
   padding: 15px 30px 15px 30px;
   color: white;
   /* background-color: #EF403C; */
   /* border: none; */
   /* font-size: 50px; */
}
.hlogin {
   position: absolute;
   font-weight: bold;
   margin-top: 41%;
   left: 41%;
   font-size: 1.5vw;
}
.google_login {
   position: absolute;
   width: 10%;
   margin-top: 56%;
   left: 44.5%;
   cursor: pointer;
}

.g_img_login {
   width: 60px;
}
.kep-login-facebook.metro {
   border-radius: 0;
   width: 55px;
   height: 56px;
}
.fb_login {
   position: absolute;
   width: 11%;
   margin-top: 57%;
   left: 28%;
   cursor: pointer;
}
.lin_login {
   position: absolute;
   /* width: 10%; */
   margin-top: 56.5%;
   left: 61%;
   cursor: pointer;
   width: 62px;
}
.or {
   position: absolute;
   margin-top: 73%;
   left: 46.5%;
   font-size: 1.2vw;
   font-weight: bold;
}
.new4 {
   position: absolute;
   border: solid #EF403C;
   border-radius: 0;
   margin-top: 76.5%;
   left: 61%;
   width: 31%;
}
.new3 {
   position: absolute;
   border: solid #EF403C;
   border-radius: 0;
   margin-top: 76.5%;
   left: 8%;
   width: 31%;
}
.eemail {
   position: absolute;
   margin-top: 91%;
   left: 0%;
   font-size: 1vw;
   background-color: white;
   color: #484848;
}
.email {
   position: absolute;
   border-color: #EF403C;
   width: 112%;
   height: 3vw;
   margin-top: 95%;
   left: -6%;
   border-style: solid;
   font-size: .8vw;
}
.pass {
   position: absolute;
   border-color: #EF403C;
   width: 112%;
   height: 3vw;
   margin-top: 120%;
   left: -6%;
   border-style: solid;
   font-size: .8vw;
}
.epass {
   position: absolute;
   margin-top: 116%;
   left: 0%;
   font-size: 1vw;
   background-color: white;
   color: #484848;
}
.fpass {
   position: absolute;
   margin-top: 139%;
   left: -6%;
   font-size: 1vw;
   color: #585858;
}
.continue {
   position: absolute;
   font-family: Arial, Helvetica, sans-serif;
   font-stretch: expanded;
   /* font-weight: 600; */
   color: white;
   /* padding: 0.6vw; */
   background-color: #413f3f;
   border-radius: 0;
   border-color: black;
   font-size: 1.5vw;
   cursor: pointer;
   left: -5%;
   margin-top: 150.5%;
   width: 111%;
   height: 3vw;
   box-shadow: 0 0.2vw #b1aeae;
}
.foot {
   position: absolute;
   margin-top: 173%;
   left: -5%;
   font-size: 1vw;
   color: #585858;
}
.psignup {
   position: absolute;
   font-weight: bolder;
   margin-top: 172.5%;
   left: 60%;
   font-size: 1.1vw;
   color: #EF403C;
}
.closebtnlogin {
   position: absolute;
   cursor: pointer;
   margin-top: -5%;
   left: 111.9%;
   width: 2.3vw;
   z-index: 10;
}

}

@media screen and (min-width: 1001px) and (max-width: 1170px) {

  
.modal_review_login {
    position: absolute;
    width: 36%;
    background-color: white;
    border-radius: 1vw;
    left: 34%;
    margin-top: 0%;
    max-height: 100vh;
    margin-top: 2%;
    height: 71%;
    
}
}

@media screen and (min-width: 600px) and (max-width: 800px) {
   .modal_review_login {
      position: absolute;
      width: 46%;
      background-color: white;
      border-radius: 1vw;
      left: 29%;
      margin-top: 0%;
      max-height: 100vh;
      margin-top: 2%;
      height: 65%;
      /* overflow-y: auto; */
      /* overflow-y: scroll; */
   }

}
