
/* Catamaran-Regular */

@font-face {
  font-family: 'Catamaran';
  src: 
       url('../../assets/fonts/Catamaran-Regular.ttf') format('truetype');
}
/*  */



.gm-style-iw {
    width: 200px !important;
    height: 200px !important;
    top: 0 !important;
    left: 0 !important;
    background-color: red;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 0 0;
 }


 
 .gm-style .gm-style-iw-c {
    
    background-color: #525659;
 }



 .gm-style-iw-d{
     overflow: hidden !important;
 }

 .gm-style .gm-style-iw-t::after {
    background: linear-gradient(45deg,rgb(82, 86, 89) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%) !important;
}


.gm-style .gm-style-iw-c {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translate(-50%,-100%);
    background-color: rgb(82, 86, 89);
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
}

button.gm-ui-hover-effect > img{
    content:url('https://img.icons8.com/fluent/96/000000/close-window.png');
    width: 25px !important;
    height: 25px !important;
    margin: 2px !important;
}

.cardinfowindow {
    
    transition: 0.3s;
    width: 100%;
    padding: 0%;
    border-radius: 0%;
    background-color: white;
    margin-bottom: 0%;
  }

  .sideprojectimagestyleinfowindow{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    max-height: 150px;
    object-fit: cover;
  }

  .containerinfowindow {
    padding: 3%;
    text-align: unset;
    background-color: #404041;
  }

  .sideprojectreviewrowinfowindow{
    font-weight: 100;
    color: white;
    white-space: nowrap;
    font-size: 0.6rem;
    margin-top: 4px;
  }

  .container-mapinfowindow {
    position: relative;
  
  }

  .top-left-mapinfowindow {
    position: absolute;
    top:10px;
    left: 0px;
    color: white;
    font-weight: bold;
    background-color: #404041;
    padding: 3px 5px;
    font-size: 0.6rem;
    margin: 0px;
  }
  

  .bottom-left-mapinfowindow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    font-weight: bold;
    background-color: rgba(66, 66, 66, 0.7);
    padding: 5px;
    font-size: 0.6rem;
    margin: 0px;
  }


  .gm-style {
    font: 400 11px Catamaran;
    /* text-decoration: none; */
}


  /* .gm-style-iw-a{
    top: 0px !important;
 } */
