.image { 
    margin-top: 5%;
    position: relative; 
    width: 30%;
 }

 .draft_title{
    color: white; 
    font-family: Catamaran-Semibold; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
 }

 .head{
    position: absolute;
    top: 342px;
    /* left: 0; */
    width: 23.6%;
 }

 .editbtn{
  position: absolute;
  cursor: pointer;
  top: 19.5vw;
  margin-left: 26vw;
  width: 1.5vw;
 }

 .blog_proj{
   position: relative;
 }

 .closebtn_draft {
  position: absolute;
  cursor: pointer;
  margin-top: 1%;
  /* left: 76.9%; */
  width: 2.3vw;
  z-index: 10;
  margin-left: 12vw;
}  

 .boxD_draft{
  border-style: none;
  border: none;
  background-color: #404041;
  /* border-radius: 14px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.19);
  height: 22vw;
  /* height: 2px; */
  width: 28.9vw;
  z-index: 1;
  grid-row: 1;
  cursor: pointer;
  margin-left: -14%;
 }
 .boxD_draft:hover{
   background-color: #EF403C;
   border-style: none;
   border: none;
   /* border-radius: 14px; */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.19);
   height: 22vw;
   /* height: 2px; */
   width: 28.9w;
   z-index: 1;
   grid-row: 1;
   cursor: pointer;
   margin-left: -14%;
 
 }
 .imageframeD_draft{
   border-style: none;
   height: 80%;
   /* margin-top: 1vw; */
   /* border-top-left-radius: 14px;
   border-top-right-radius: 14px; */
 }
 .imageboxD_draft{
   object-fit: fill;
   width: 28.9vw;
   /* height: auto; */
   border-style: none;
   height: 18vw;
 }

 .contentframeD_draft{
   text-align: initial;
   /* border-style: outset; */
   height: 23%;
   text-align: left;
   margin-right: 3%;
   /* width: 373px; */

 }

 .paraheadingD_draft{
   margin-top: 1.5vw;
   margin-left: 5%;
   margin-right: 14%;
   font-size: 1.2vw;
   color: white;
   text-transform: capitalize;
   font-family: Catamaran-bold;
 }

 .grid-containerdraft {
   display: grid;
   grid-template-columns: auto max-content;
   grid-gap: 2%;
   padding: 5vw;
   padding-left: 3%;
   width: 50vw;
   margin-top: 5%;
 }
 
 .grid-containerdraft > div {
   background-color: transparent;
   text-align: center;
   padding: 5px;
   font-size: 30px;
 }

 .no_drafts{
   position: relative;
   margin-top: 79%;
   z-index: 1;
   left: 27%;
}


@media screen and (min-width: 1350px) and (max-width: 1399px) {
  .grid-containerdraft {
    display: grid;
    grid-template-columns: auto -webkit-max-content;
    grid-template-columns: auto max-content;
    grid-gap: 2%;
    padding: 5vw;
    padding-left: 11%;
    width: 50vw;
}

}

@media screen and (max-width: 606px) {
  .closebtn_draft {
    position: absolute;
    cursor: pointer;
    margin-top: 1%;
    /* left: 92.9%; */
    width: 5.3vw;
    z-index: 10;
    margin-left: 29vw;
}
  .grid-containerdraft {
    display: grid;
    grid-template-columns: auto -webkit-max-content;
    grid-template-columns: max-content;
    grid-gap: 2%;
    padding: 14vw;
    padding-left: 3%;
    width: 50vw;
}

  .boxD_draft {
    border-style: none;
    border: none;
    background-color: #404041;
    /* border-radius: 14px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.19);
    height: 55vw;
    /* height: 2px; */
    width: 69.9vw;
    z-index: 1;
    grid-row: 1;
    cursor: pointer;
    margin-left: 3%;
}

.boxD_draft:hover{
  background-color: #EF403C;
  border-style: none;
  border: none;
  /* border-radius: 14px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.19);
  height: 55vw;
  /* height: 2px; */
  width: 69.9vw;
  z-index: 1;
  grid-row: 1;
  cursor: pointer;
  margin-left: 3%;

}

.imageboxD_draft {
  -o-object-fit: fill;
  object-fit: fill;
  width: 69.9vw;
  /* height: auto; */
  border-style: none;
  height: 47vw;
}
.paraheadingD_draft {
  margin-top: 5.5vw;
  margin-left: 5%;
  margin-right: 14%;
  font-size: 2.2vw;
  color: white;
  text-transform: capitalize;
  font-family: Catamaran-bold;
}
.editbtn {
  position: absolute;
  cursor: pointer;
  top: 50.5vw;
  /* left: 95%; */
  width: 3.5vw;
  margin-left: 65vw;
}
}
